@import url('https://fonts.cdnfonts.com/css/sf-ui-display');

:root {
  --white:          #ffffff;
  --black:          #333333;
  --greyF6:         #f6f6f6;
  --blue:           #488bf7;
  --blue_active:    #296fe0;
  --red_hover:      #DC3E22;
  --red_active:     #B7280F;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--greyF6);
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
  font-family: 'SF UI Display', sans-serif;
}

* {
  color: var(--black);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}
